@import './variables';

@mixin flex () {
    display: flex;
    justify-content: center;
    margin:32px 24px;
}

.shop {
    padding: 0 2%;

    h1{
        @include flex();
        font-family: "Sora", serif;
        font-size: 32px;
        text-transform: uppercase;
    }

    &__tabs{
        @include flex();
        gap: 24px;

        &__button{
            background-color: $bgColor;
            color: $colorTextButoon;
            font-family: "Bebas Neue", serif;
            font-size: 24px;
            border: none;
            padding-bottom: 5px;
            text-transform: uppercase;
            margin:  0 1vw;cursor:pointer;
            border-bottom: 5px solid transparent;

            //propriedade que ativa o menu selecionado
            &--is-active{
                border-color: $colorTextButoon;
            }
        }
    }


    &__nav {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        list-style-type: none;


        &--is-active{
            display: grid;
        }

        
        &__item {
            font-family: "Sora", serif;
            font-size: 12px;
            

            img {
                max-width: 100%;
                border-radius: 4px;

            }

            h2{
                text-transform: uppercase;
                margin: 16px;
                cursor: pointer;
            }

            a {
                padding: 8px 16px;
                background-color: $colorButton;
                color: $bgColor;
                font-family: "Bebas Neue", serif;
                font-weight: 400;
                text-decoration: none;
                border-radius: 10em;
                cursor: pointer;
                font-size: 16px;

            }
        }
    }
}