//incluir a fonte

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: $bgHero;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .hero-content {
        max-width: 50%;

        h1 {
            font-family: "Sora", serif;
            font-size: 48px;
            margin: 0;

            span {
                font-family: "Bebas Neue", serif;
                display: block;
                font-size: 72px;
                font-weight: bold;
            }
        }

        p {
            font-family: "Bebas Neue", serif;
            margin: 20px 0;
            color: $colorTextHero;
        }

        a {
            padding: 10px 20px;
            background-color:$colorButton;
            color: $bgColor;
            font-family: "Bebas Neue", serif;
            font-weight: 400;
            text-decoration: none;
            border-radius: 100em;
            cursor: pointer;
            font-size: 16px;
        
            &:hover{
                background-color: #000000;
            }
        }
        
        
    }
    
}

.hero-image {
    max-width: 50%;

    img {
        width: 100%;
    }
    
}
