//incluir a fonte

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: $bgHero;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    margin: 0;
}

.hero-content h1 span {
    display: block;
    font-size: 72px;
    font-weight: bold;
}

.hero-content p {
    margin: 20px 0;
    color: $colorTextHero;
}

.hero-content a {
    padding: 10px 20px;
    background-color:$colorButton;
    color: $bgColor;
    text-decoration: none;
    border-radius: 100em;
    cursor: pointer;
    font-size: 16px;

    &:hover{
        background-color: #000000;
    }
}

.hero-image {
    max-width: 50%;
}

.hero-image img {
    width: 100%;
}

