@import './variables';

//estilização dos links
@mixin links () {
    padding: 10px 20px;
    margin: 16px;
    color: $bgColor;
    text-decoration: none;
    border-radius: 100em;
    cursor: pointer;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    color: #fff;

    .product {

        .content {
            max-width: 50%;

            h1 {
                font-size: 24px;
                font-family: "Sora", serif;
                margin: 16px;
                white-space: nowrap;

                span {
                    display: block;
                    font-family: "Bebas Neue", serif;
                    font-size: 36px;
                    font-weight: bold;
                }
            }


            .image {
                max-width: 45%;

            }
        }
    }
}


/* Seção Earphone */
.earphone {
    background-color: $productBlack;
    border-radius: 5%;

    .content h1 span {
        color: $colorButton;

    }

    a {
        @include links();
        background-color: $colorButton;


        &:hover {
            background-color: $colorHoverWhite;
            color: $colorTextRed;
            border: 2px solid $colorTextRed;
        }
    }
}

/* Seção Gadget */
.gadget {
    background-color: $productYellow;
    border-radius: 5%;

    .content h1 span {
        color: #000;
        

    }

    a {
        @include links();
        background-color: $colorHoverWhite;
        color: $colorTextButoon;

        &:hover {
            background-color: #f1d84c;
            border: 2px solid $colorTextButoon;
        }

    }
}

/* Seção Laptop */
.laptop {
    background-color: $colorButton;
    border-radius: 5%;


    .content h1 span {
        color: $bgColor;
    }

    a {
        @include links();
        background-color: $bgColor;
        color: $colorTextButoon;

        &:hover {
            background-color: #000;
            color: #ffffff;
            border: 2px solid #ffffff;
        }
    }

}