//Colors
$bgColor: #ffffff;
$bgHero:#e7e0e0d7;
$colorTextHero:#666;
$colorButton:#ff0000;


//Colors layount
$productYellow:#ffd700;
$productBlack:#000;
$productRed:#ff0000;
$colorTextButoon:#000;

//Colore button text hover
$colorHoverWhite:#ffffff;
$colorTextRed:#ff0000;

