*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables';
@import './_header';
@import './hero';
@import './layout';
@import  './_shop';
@import  './_faq';
@import './_footer';

body {
    background-color: $bgColor;
}




